<form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="city.name" #name="ngModel" required minlength="3" placeholder="Nom de la ville" />
    <button type="submit">Ajouter</button>

    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors?.['required']">La saisie de la ville est obligatoire</div>
        <div *ngIf="name.errors?.['minlength']">Doit contenir au moins 3 caractères</div>
    </div>
</form>

<ul>
    <li *ngFor="let city of cityList">
        <a routerLink="/meteo/{{city.name}}">{{ city.name }}</a>
        <button (click)="remove(city)">Supprimer</button>
    </li>
</ul>

<pre>{{ cityList | json }}</pre>