body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(120deg, #ffd6a5, #fff1e6);
    color: #5a3e2b;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #6d6875;
    text-transform: uppercase;
    margin-bottom: 25px;
}

table {
    width: 85%;
    margin: 0 auto 30px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    background: #e59866;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #fff7ee;
}

/* Lien entreprise */
a {
    color: #b3541e;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #6d6875;
}

/* Lien retour */
p a {
    color: #b3541e;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    color: #5a3e2b;
    text-decoration: underline;
}