<!-- Météo sur 5 jours -->
<div *ngIf="meteo5Jours">
    <h4>Météo sur 5 jours</h4>
    <div class="d-flex flex-wrap">
        <div class="card m-2 p-2" style="width:150px;" *ngFor="let item of meteo5Jours | slice:0:40; let i = index">
            <div>{{ item.dt * 1000 | date:'EEE d MMM HH:mm' }}</div>
            <div>
                <i [class]="'wi wi-owm-day-' + item.weather[0].id"></i>
            </div>
            <div>{{ item.main.temp }} <i class="wi wi-celsius"></i></div>
            <div>{{ item.weather[0].description }}</div>
        </div>
    </div>
</div>